<div class="flex flex-col">

    <%= render(HeaderComponent.new("Download past searches by date")) %>

    <%# Return home %>
    <div class="p-4" style="margin-top: -20px;">
        <%= link_to(root_path) do %>
            <i class="fa-solid fa-house"></i>
            <span> Return to home page </span>
        <% end %>
    </div>

    <%# Repeating content %>
    <% @queries.each do |day, queries| %>
        <div class="w-auto p-4 flex justify-center gap-4">
            <div class="flex flex-col gap-2 w-1/2"> 

                <div class="flex gap-2 justify-end border-2 border-gray-400 px-1 py-0.5 rounded-md">
                    
                    <%# Day sub-headers %>
                    <div class="w-11/12"> <%= queries.first.created_at.strftime("%B %e, %Y") %> </div>

                    <%# Download button %>
                    <div class="w-1/12 text-center" data-controller="notice">
                        <div data-action="click->notice#show"> 
                            <%= link_to(pages_downloadDay_path(day: day)) do %>
                                <i class="fa-solid fa-circle-down"></i>
                            <% end %>
                        </div>
                    </div>
                </div>

                <%# List of queries %>
                <div class="w-full flex flex-wrap gap-2 ml-4">
                    <% queries.each do |q| %>
                        <div class="w-5/12" style="margin-bottom: -10px;">
                            <%= q.created_at.strftime("%l:%M %p %Z")%>: <%= q.query %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <br/>
    <br/>
</div>