<div class="flex flex-col">

    <%= render(HeaderComponent.new("Random GIF search! - powered by GIPHY")) %>

    <%# container div for the two columns %>
    <div class="w-auto p-4 flex justify-center gap-4">

        <%# left column %>
        <div class="flex flex-col gap-2 w-1/2"> 

            <%# first row %>
            <div class="flex gap-2 justify-end">

                <%# Search field %>
                <div class="w-11/12 "> 
                    <%= form_with(model: Search.new ) do |form| %> 
                        <%= form.text_field :query,
                            placeholder: "Search a GIF and hit enter!",
                            class: "border-2 border-gray-400 rounded-md w-full px-1 py-0.5"
                        %>
                        <%= form.submit type: :hidden %>
                    <% end %>
                </div>
                
                <%# Link to download's page %>
                <div class="w-1/12 justify-center align-middle flex" style="padding-top: 3px">
                    <%= link_to(pages_download_path) do %> 
                        <i class="fa-solid fa-download"></i>
                    <% end %>
                </div>
            </div>

            <%# History box %>
            <div class="w-auto" style="height: auto;">
                <p class="mb-2">Recent searches: </p>
                <% @recent.each do |q|  %>
                    <div id="<%= dom_id q %>" class="mb-1">
                        <%= q.created_at.to_s(:short) %>: <%= q.query %>
                    </div>
                <% end %>
            </div>
        </div>

        <%# right column %>
        <div class="w-1/2 flex justify-center" style="height: 400px;">
            <img src='<%= @url %>' alt='' class="w-auto">
        </div>

    </div>
</div>